body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border: 10px solid #5DADE2;
    border-radius: 15px;
    /* Para bordes redondeados */
    background-color: white;
    /* Color del fondo */
    text-align: center;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 24px;
    color: #5DADE2;
    text-decoration: none;
}

nav {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-text {
    max-width: 600px;
}

.welcome-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

.welcome-image img {
    width: 300px;
}

.offers,
.new-releases {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offers h2,
.new-releases h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.carousel-container {
    position: relative;
}

.carousel-button {
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-button.prev {
    left: -40px;
}

.carousel-button.next {
    right: -40px;
}

.carousel-track-container {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    min-width: 200px;
    position: relative;
    border-radius: 8px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-item p {
    margin: 10px 0;
}

.carousel-item .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer .social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    text-decoration: none;
}


footer .social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
}

.light-button button.bt .button-holder img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: 300ms;
}

.light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
}

.light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
}

.light-button button.bt:hover .button-holder img {
    border: 2px solid rgba(88, 101, 242, 1);
}

.light-button button.bt:hover .button-holder {
    color: rgba(88, 101, 242, 1);
    outline: rgba(88, 101, 242, 1) 2px solid;
    outline-offset: 2px;
}

.light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
            rgba(88, 101, 242, 1) 0%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%);
}

/*CSS INSTAGRAM*/
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.customImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
}

.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .imageContainer {
    background-color: rgba(156, 156, 156, 0.466);
}

/*CSS GITHUB*/

.button_github {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button_github .text_github {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button_github svg path {
    transition: 400ms;
}

.button_github:hover {
    background-color: transparent;
}

.button_github:hover .text_github {
    color: #181717;
}

.button_github:hover svg path {
    fill: #181717;
}

/*CSS BUSQUEDA*/
.InputContainer {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

/*CSS para valoración con estrellas*/